---
layout: page
title: Games
permalink: /games/
additional:
    css:
        - /css/games.css
        - /css/owl-carousel/owl.carousel.css
        - /css/owl-carousel/owl.theme.css
    js:
        - /js/owl-carousel/owl.carousel.min.js

redirect_from: "/jerigames/"
---
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Blog",
		"mainEntityOfPage": "{{ site.url }}",
		"headline": "Games",
		"description": "Games by Jeric",
		"author": {
			"@type": "Person",
			"name": "Jeric Bryle Dy",
			"givenName": "Jeric Bryle",
			"familyName": "Dy"
		},
		"publisher": {
			"@type": "Organization",
			"name": "Jeric Bryle Dy",
			"logo": {
				"@type": "ImageObject",
				"url": "{{ "/images/icons/jd/favicon256.png" | prepend: site.url }}",
				"width": "256px",
				"height": "256px"
			}
		},
		"image": {
			"@type": "ImageObject",
			"url": "{{ "/images/games/rockmandashfangame/mml-008-ferdinand.png" | prepend: site.url }}",
			"width": "1920px",
			"height": "1080px"
		}
	}
</script>
<div class="home">

	<div>
		{% for game in site.data.games %}
			<div class="mdl-card mdl-shadow--2dp stretch-out no-min-height item-spacer">
				<div class="mdl-card__title game-title">
					<a href="{{ game.link | prepend: site.baseurl }}">
						<h2 class="mdl-card__title-text">
								{{ game.title }}
						</h2>
					</a>
				</div>
				<div>
					<div id="game{{ forloop.index }}-screenshots" class="owl-carousel">
						{% for img in game.imgArr %}
							<div class="item">
								<a class="image-zoom" href="{{ img.full }}">
									<div class="screenshot-thumbnail">
										<img src="{{ img.thumbnail }}" alt="screenshot">
									</div>
								</a>
							</div>
						{% endfor %}
					</div>
					<script>
						$("#game{{ forloop.index }}-screenshots").owlCarousel({
							items: 3,
							itemsDesktop: [1199, 3],
							itemsDesktopSmall: [979, 3],
							itemsTablet: [768, 2],
							itemsMobile : [479, 1],
							autoPlay: true
						});
					</script>
				</div>
				<div class="mdl-card__supporting-text">
					{{ game.info }}
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ game.link | prepend: site.baseurl }}">
						Read More
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
