---
layout: page
title: "Mega Man Legends: Operation Mother Lode"
permalink: /games/rockmandashfangame/

video: videoseries?list=PLDDE357530387535D
rss: feed.xml

redirect_from: "/jerigames/rockmandashfangame/"
---

<div class="home">
	<div>
		<div>
			<p>
				This is simply my favorite hobby/fan game project.
				I started this project in 2009 with the intention to learn the underlying of 3D Game Development.
				Of course, if I simply use a game engine, I would end up with a better looking game in only a couple of weeks.
				I ended up learning a lot of things, like how to implement skinning, height map, how sounds work and so on.
			</p>
			<p>
				One of the common questions I get asked is why I chose DirectX over OpenGL.
				Well, it's really just curiosity.
				At that time, I just learned <a href="/games/graphix/">OpenGL on my computer graphics class</a>, so I thought why not try using DirectX this time.
				That's it. Anyway, the playlist above is the evolution of my fan game. Enjoy!
			</p>
		</div>
	</div>
	<div>
		<div class="item-spacer">
			<b>RSS Feed</b>
			<a href="feed.xml"><img src="/images/icons/rss.svg" width="16" height="16" /></a>
		</div>
		{% assign page_category = site.categories["rockmandashfangame"] %}
		{% for post in page_category %}
			{% assign next_entry = page_category[forloop.index] %}
			{% capture cur_year %}{{ post.date | date: "%Y" }}{% endcapture %}
			{% capture next_year %}{{ next_entry.date | date: "%Y" }}{% endcapture %}

			{% if forloop.first %}
				<table class="table table-hover">
					<thead>
						<th colspan="2">
							<h2>{{ cur_year }}</h2>
						</th>
					</thead>
					<tbody>
			{% endif %}

			<tr>
				<td class="thumbnail-cell">
					{% if post.thumbnail %}
						<a class="image-zoom" href="{{ post.thumbnail | prepend: site.baseurl }}">
							<div class="update-thumb">
								<img src="{{ post.thumbnail | prepend: site.baseurl }}" />
							</div>
						</a>
					{% else %}
						<a href="{{ post.url | prepend: site.baseurl }}">
							<div class="update-thumb"></div>
						</a>
					{% endif %}
				</td>
				<td>
					<a class="update-item" href="{{ post.url | prepend: site.baseurl }}">
						<div>
							<div class="update-title">{{ post.title }}</div>
							<div class="update-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
						</div>
					</a>
				</td>
			</tr>

			{% if forloop.last %}
					</tbody>
				</table>
			{% else %}
				{% if cur_year != next_year %}
						</tbody>
					</table>
					<table class="table table-hover">
						<thead>
							<th colspan="2">
								<h2>{{ next_year }}</h2>
							</th>
						</thead>
						<tbody>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
</div>
