<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#2a7ae2">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">

	{% if page.manifest %}
		<link rel="manifest" href="{{ page.manifest }}">
	{% else %}
		<link rel="manifest" href="/webapp/default-manifest.json">
	{% endif %}
	<link rel="shortcut icon" href="{{ "/images/icons/jd/favicon128.png" | prepend: site.baseurl }}" type="image/png">
	<link rel="icon" href="{{ "/images/icons/jd/favicon128.png" | prepend: site.baseurl }}" type="image/png">
	{% if page.rss %}
		<link rel="alternate" type="application/rss+xml" title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" href="{{ page.rss }}" />
	{% endif %}

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css" />

	<link rel="stylesheet" href="/css/material.min.css" />
	<script src="/js/material.min.js"></script>
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />

	<link rel="stylesheet" href="{{ "/css/magnific-popup.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	{% for css in page.additional.css %}
		<link rel="stylesheet" href="{{ css | prepend: site.baseurl }}">
	{% endfor %}
	<script type="text/javascript" src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
	{% for js in page.additional.js %}
		<script type="text/javascript" src="{{ js | prepend: site.baseurl }}"></script>
	{% endfor %}
	<!-- social plugins -->
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script id="facebook-jssdk" type="text/javascript" defer src="//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1476944352583507&version=v2.0"></script>
	<script id="twitter-wjs" type="text/javascript" defer src="//platform.twitter.com/widgets.js"></script>
	<!-- g+ comment -->
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
