
{% if include.inline != true %}
	<div class="item-spacer">
{% endif %}

<a class="image-zoom" href="{{ include.image_path | prepend: site.baseurl }}/{{ include.image_file }}">
	<img class="img-responsive image-center" src="{{ include.image_path | prepend: site.baseurl }}/{% if include.image_thumbnail %}thumbnails/{{ include.image_thumbnail }}/{% endif %}{{ include.image_file }}" />
</a>
{% if include.caption %}
	<div class="item-caption">{{ include.caption }}</div>
{% endif %}

{% if include.inline != true %}
	</div>
{% endif %}
