---
layout: post
title: Run Animation
date: 2009-11-15 13:32:00
categories: games rockmandashfangame
thumbnail: /images/games/rockmandashfangame/rm-run-ani-1.png

redirect_from: "/jerigames/rockmandashfangame/runanimation/"
---

<p>Sorry for the late update, my video card got busted.
	I’m now having a hard time animating with Blender since it’s now running under the onboard video card that comes with my motherboard.
	I can’t record a video of what I did properly (1 frame per second).</p>

<p>Anyway, here are the screenshots of the running animation I just did.</p>

<table class="table table-bordered table-hover">
	<tbody>
		<tr>
			<td>{% include image.html image_url="/images/games/rockmandashfangame/rm-run-ani-1.png" inline=true %}</td>
			<td>{% include image.html image_url="/images/games/rockmandashfangame/rm-run-ani-2.png" inline=true %}</td>
		</tr>
		<tr>
			<td>{% include image.html image_url="/images/games/rockmandashfangame/rm-run-ani-3.png" inline=true %}</td>
			<td>{% include image.html image_url="/images/games/rockmandashfangame/rm-run-ani-4.png" inline=true %}</td>
		</tr>
	</tbody>
</table>

<p>PS. I will record and upload as soon as I fixed my video card or get a new one.</p>
