---
layout: post
title: "Mega Man is now Textured!"
date: 2009-11-09 17:08:00
categories: games rockmandashfangame
thumbnail:
    thumbnail: /images/games/rockmandashfangame/thumbnails/100x/rm-normal-shade.png
    full: /images/games/rockmandashfangame/rm-normal-shade.png

redirect_from: "/jerigames/rockmandashfangame/megamanisnowtextured/"
---

<p>I’m finally done with my 3D Mega Man! ... I think.
	Anyway, I’ve been wondering which rendering technique I should use (Normal Shading or Cell Shading).
	Though majority of my friends like the normal shading, I will still show you guys both result.</p>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th style="width: 50%">Normal Shading</th>
			<th>Cell Shading</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="400x300" image_file="rm-normal-shade.png" inline=true %}</td>
			<td>{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="400x300" image_file="rm-cell-shade.png" inline=true %}</td>
		</tr>
		<tr>
			<td>
				<div class="video-container">
					<iframe src="//www.youtube.com/embed/DM4R7HDPKSU" frameborder="0" allowfullscreen></iframe>
				</div>
			</td>
			<td>
				<div class="video-container">
					<iframe src="//www.youtube.com/embed/5kjdCrvH7ss" frameborder="0" allowfullscreen></iframe>
				</div>
			</td>
		</tr>
	</tbody>
</table>
