---
layout: post
title: Obstacles and Collisions
date: 2011-04-18 03:25:00
categories: games rockmandashfangame
thumbnail: /images/games/rockmandashfangame/warthog.png

redirect_from: "/jerigames/rockmandashfangame/obstaclesandcollisions/"
---

<p>Today's update... well... it's not much of an update.
	I've been sorta busy preparing my requirements for my work in <a href="http://www.exist.com/">Exist</a> (starting on April 25) and just had my <a href="http://blog.jericbryledy.com/2011/04/boracay.html">vacation</a>.
	Yeah, work. That means this fan game's progress will slow down a little.
	I know it's sad for us Mega Man fans, but you know, I need some income too.</p>

<p><b>First</b>, collision detection: getting hit by busters, bumping on enemies (though megaman will not fall after 3 hits... YET), bumping on obstacles.</p>

<p><b>Second</b>, new texture for the Warthog</p>

{% include image.html image_url="/images/games/rockmandashfangame/warthog.png" %}

<p><b>Third</b>, new obstacle</p>

{% include image.html image_url="/images/games/rockmandashfangame/house.png" %}

<p>I have another obstacle, a fountain. Unfortunately, it doesn't look anything like a fountain...</p>

{% include image.html image_url="/images/games/rockmandashfangame/fountain.png" %}

<p>(fountain that looks more like UFO)</p>

<p><b>Fourth</b>, SOUNDS! Finally, right?!</p>

<p>Hmm... I can't remember anymore updates I've made since the last one. But anyway, enjoy this update gameplay...</p>

<div class="video-container item-spacer">
	<iframe src="//www.youtube.com/embed/_VN2pmsxCz8" frameborder="0" allowfullscreen></iframe>
</div>
