---
layout: post
title: Bonne Machine inspired by Command and Conquer's Mammoth Tank
date: 2011-03-10 06:10:00
categories: games rockmandashfangame
thumbnail:
    thumbnail: /images/games/rockmandashfangame/thumbnails/100x/tank-skinned.png
    full: /images/games/rockmandashfangame/tank-skinned.png

redirect_from: "/jerigames/rockmandashfangame/bonnemachineinspiredbycommandandconquersmammothtank/"
---

<p>So I was going through my past works in blender and I found this mammoth tank lying around...</p>

<table class="table table-bordered table-hover">
	<tbody>
		<tr>
			<td style="width: 50%;">
				{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="400x300" image_file="mammoth.png" inline=true %}
			</td>
			<td style="width: 50%;">
				{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="400x300" image_file="mammoth-skinned.png" inline=true %}
			</td>
		</tr>
	</tbody>
</table>
<div class="item-caption"><a href="http://cnc.wikia.com/wiki/Mammoth_Mk._III">The Mammoth MK-III</a></div>

<p>&nbsp;</p>

<p>I made it for my past project in <a href="http://en.wikipedia.org/wiki/Machine_learning">Machine Learning</a> (brainless tanks (initially) learning how to fight other tanks).
	So anyway, I wanted to create an original character/reaverbot/mecha design for this fan game.
	So I modified it and turned it into…</p>

<table class="table table-bordered table-hover">
	<tbody>
		<tr>
			<td style="width: 50%;">
				{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="400x300" image_file="tank.png" inline=true %}
			</td>
			<td style="width: 50%;">
				{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="400x300" image_file="tank-skinned.png" inline=true %}
			</td>
		</tr>
	</tbody>
</table>

<p>It's a warthog like tank, maybe I should name it Warthog?
	I painted it pink to match <a href="http://megaman.wikia.com/wiki/Tron_Bonne">Tron</a>'s color scheme (yes, this is for Tron).
	I haven't put details on the tank yet though... anyways, the tank can transform into a four legged mecha...</p>

<table class="table table-bordered table-hover">
	<tbody>
		<tr>
			<td style="width: 50%;">
				{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="400x300" image_file="4legs.png" inline=true %}
			</td>
			<td style="width: 50%;">
				{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="400x300" image_file="4legs-skinned.png" inline=true %}
			</td>
		</tr>
	</tbody>
</table>

<p>It's much like the <a href="http://www.legends-station.com/?page=mml1/bm-feldynaught">Feldynaught</a> from part 1 (crossbreed of Mammoth Tank and Feldynaught?).
	Anyway, I'll put on the skin details of the warthog tank and post a video of it soon.</p>
