---
layout: post
title: "The Horokkos are here!"
date: 2011-02-03 02:28:00
categories: games rockmandashfangame
thumbnail:
    thumbnail: /images/games/rockmandashfangame/thumbnails/100x/horokko-front.png
    full: /images/games/rockmandashfangame/horokko-front.png

redirect_from: "/jerigames/rockmandashfangame/thehorokkosarehere/"
---

<p>YES! The Horokkos are here!
	Still no animation yet.
	I'm sharing it just to show I'm still working on this project.</p>

{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="800x600" image_file="horokko-front.png" %}

{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="800x600" image_file="horokko-side.png" %}

{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="800x600" image_file="horokko-side2.png" %}

<p>Oh, yeah, the Mega Man can now shoot his Mega Buster!!!</p>

{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="800x600" image_file="horokko-last-moments.png" %}


<p>Goodbye Horokkos!!! and HAPPY CHINESE NEW YEAR!!!</p>

