---
layout: post
title: Hanmuru Doll and Servbots and Stuff
date: 2011-02-13 10:11:00
categories: games rockmandashfangame
thumbnail: /images/games/rockmandashfangame/hanmuru-front.png

redirect_from: "/jerigames/rockmandashfangame/hanmurudollandservbotsandstuff/"
---

<p>Hello! Hello! Sorta big update today! I have added another reaverbot!</p>

{% include image.html image_url="/images/games/rockmandashfangame/hanmuru-front.png" %}

<p>It's the Hanmuru Doll (<a href="http://www.legends-station.com/?page=mml1/rvr-hanmurudoll">link</a> and <a href="http://megaman.wikia.com/wiki/Hanmuru_Doll">link</a>)!
	This reaverbot (and Sharukurusu (<a href="http://www.legends-station.com/?page=mml1/rvr-sharukurusu">link</a> and <a href="http://megaman.wikia.com/wiki/Sharukurusu">link</a>)) gives me the creeps back then.
	But now... it looks like it's smiling back at me... *shivers*. So anyway, I also added the servbots!
</p>

{% include image.html image_url="/images/games/rockmandashfangame/servbots-faces.png" %}

<p>Their AI's aren't finished yet though.
	Fire and Ice Horokkos still doesn't have fire and ice effect.
	No collisions yet, and no damaged taken yet.
	Here's a video of what I've done so far.</p>

<div class="video-container item-spacer">
	<iframe src="//www.youtube.com/embed/c0cGf44QkoU" frameborder="0" allowfullscreen></iframe>
</div>

<p>... and the bad news, remember my post about my video card got busted (but was then repaired)?
	Well, it's at it again.
	A capacitor blew up again.</p>

<p>Remember! I do not own Mega Man (Capcom does) or work for Capcom.
	This is only a fan game.
	I do not have the right to sell this game, so I'll be giving it away for FREE (once it's done), unless Capcom forbids me! YAY!</p>

<p>Oh look! It's Feb 14! HAPPY VALENTINE'S DAY!</p>
