---
layout: post
title: Happy 27th Anniversary to Mega Man!
date: 2014-12-16 16:00:00
categories: games rockmandashfangame
thumbnail:
    thumbnail: /images/games/rockmandashfangame/thumbnails/100x/print-x-done.jpg
    full: /images/games/rockmandashfangame/print-x-done.jpg
---

<p>Hello! This year, I bought my own 3D printer! As a Mega Man fan, I celebrate by printing... MEGA MAN!</p>

{% include image.html caption="Print started!" image_url="/images/games/rockmandashfangame/print-x-boots.jpg" %}

{% include image.html caption="Body done!" image_url="/images/games/rockmandashfangame/print-x-body.jpg" %}

{% include image.html caption="Weapon Get: WRENCH ARM!" image_url="/images/games/rockmandashfangame/print-x-wrench-arm.jpg" %}

{% include image.html caption="Next: Arms!" image_url="/images/games/rockmandashfangame/print-x-arms.jpg" %}

{% include image.html caption="Sanding the arms to fit!" image_url="/images/games/rockmandashfangame/print-x-no-glue.jpg" %}

{% include image.html caption="Super Glue... aaaand DONE!" image_url="/images/games/rockmandashfangame/print-x-done.jpg" %}

<p>And since this is my Mega Man Legends fan game section, we need a Legends character here.</p>

{% include image.html caption="Horokko!" image_url="/images/games/rockmandashfangame/print-horokko.jpg" %}

<p>I was actually planning to print a new Mega Man Trigger figure, but I ran out of time. Here's the incomplete photo of it.</p>

{% include image.html caption="Triggerific!" image_url="/images/games/rockmandashfangame/print-legends-body.jpg" %}

<p>I had a 3D printed one before (2012) [<a href="http://blog.jericdy.com/2012/10/3d-printing.html">link</a>].</p>

<p>I am still hoping for Capcom to make Legends 3. :D</p>
