---
layout: post
title: Happy 28th Anniversary to Mega Man!
date: 2015-12-17 18:29:00
categories: games rockmandashfangame
thumbnail:
    thumbnail: /images/games/rockmandashfangame/thumbnails/100x/megaman-truforce-pose-1.jpg
    full: /images/games/rockmandashfangame/megaman-truforce-pose-1.jpg
---

<p>Hello! This year, I have decided to make a Mega Man Legends game for the <a href="https://en.wikipedia.org/wiki/Cave_automatic_virtual_environment">C.A.V.E.</a> system!.
	I was thinking which part of Mega Man Legends should I remake, then I decided to go back to the very first battle with Tron's Ferdinand (Feldynaught)!.
	It took me about 2-3 weeks (night time and weekends) to make this. I hope you enjoy!
</p>

<div class="video-container item-spacer">
	<iframe src="//www.youtube.com/embed/N4vk_TvN_zA" frameborder="0" allowfullscreen></iframe>
</div>

<p>
	It was fun to play inside the C.A.V.E., you'll really feel that you're there fighting with a giant robot!
	Not only that, you get to see your creation <b>come to life</b>!
</p>

<p>
	Next, my girlfriend knows I celebrate Mega Man's birthday every year.
	This time, she bought me...
</p>

{% include image.html caption="Mega Man X Truforce Figure" image_url="/images/games/rockmandashfangame/megaman-truforce-box.jpg" %}
{% include image.html caption="Mega Man X Truforce Figure!!!" image_url="/images/games/rockmandashfangame/megaman-truforce-box-open.jpg" %}
{% include image.html caption="Mega Man X Truforce Figure!!!!!!" image_url="/images/games/rockmandashfangame/megaman-truforce-pose-1.jpg" %}
{% include image.html caption="Mega Man X Truforce Figure!!!!!!!!!" image_url="/images/games/rockmandashfangame/megaman-truforce-pose-2.jpg" %}
{% include image.html caption="AAAAAAAAAAAAAAA!!!!!!!!!!!! Destroy those imposters!" image_url="/images/games/rockmandashfangame/megaman-truforce-pose-3.jpg" %}

<p>Isn't she the best?!</p>

<p>Well, that's all for now!</p>
