---
layout: post
title: Happy 29th Anniversary to Mega Man!
date: 2016-12-17 10:30:00
categories: games rockmandashfangame
thumbnail:
    thumbnail: /images/games/rockmandashfangame/thumbnails/100x/mml-008-ferdinand.png
    full: /images/games/rockmandashfangame/mml-008-ferdinand.png
---

<h3>1. Capcom</h3>

<p>
	So here we are again.
	Another year has passed without Mega Man Legends 3.
	But in the darkness, a ray of hope has appeared!
	Capcom is looking into reviving its dormant franchises <i>*cough*</i> <b>MEGA MAN</b> <i>*cough*</i>.
</p>

<h3>2. Fan Game</h3>

<p>
	Do you even remember when I've last updated my fan game?
	That was five years ago.
	And my Mega Man fan game feed has turned into a yearly Mega Man tribute instead.
	Why can't we have both, right?
	So here's an updated look on the project.
</p>

<div class="video-container item-spacer">
	<iframe src="//www.youtube.com/embed/8u1u1CStBjM" frameborder="0" allowfullscreen></iframe>
</div>

<p>
	I have migrated the project to Unity.
	This whole thing was made within "a month".
	Not really just "a month", because I just reused my old 3D models.
	With very minor modifications of course.
	It would have been impossible for me to finish this within a month if I were to start everything from scratch.
</p>

<p>
	It has been pointed out that Mega Man's running animation does not look right.
	And my Mega Man model looks inferior to the Reaverbots.
</p>

{% include image.html caption="Comment about animation by user PowerMeep" image_path="/images/games/rockmandashfangame" image_thumbnail="800x600" image_file="run-wrong.png" %}
{% include image.html caption="Comment about model by user Gileum" image_path="/images/games/rockmandashfangame" image_thumbnail="800x600" image_file="model-outdated.png" %}

<p>
	Please don't shy away from criticizing my work.
	It's the only way to improve.
	But I am not an artist.
	At most I can tell that there's something wrong with the running animation but not really sure how to fix it.
	Most of my 3D animations works have just been a result of trial and error.
	Sometimes I ask for comments from my artist friends.
	But mostly, I just do trial and error.
</p>

{% include image.html image_path="/images/games/rockmandashfangame" image_thumbnail="800x600" image_file="no-idea-meme.jpg" %}

<p>
	OK, for the first time ever. I have made the game <b>DOWNLOADABLE</b>! Yay!!!
	If you've found any bugs just tell me.
	Comment it here or YouTube... should I make an issue tracker for this? Hmm...
	I will be taking a vacation in Taiwan next week until early January.
	Only minor bugs will be fixed I guess.
</p>

<h3>3. Spread the love</h3>

<p>
	So what can we do?
	First, if you still haven't, go and like 100k Strong over <a href="https://www.facebook.com/GetMeOffTheMoon/">here</a>.
	Next, record your gameplay of the said fan game and share it on social media with the hashtags #GetMeOffTheMoon and #LegendsNeverDie.
	Make sure to tag Capcom (<a href="https://www.facebook.com/capcomunity/">here</a>, <a href="https://twitter.com/Capcom_Unity">here</a>, just Google search their other accounts).
	Let's convince Capcom to revive Mega Man. GO GO GO!
</p>

<h3>Screenshots</h3>

{% include image.html caption="Hanmuru Doll" image_path="/images/games/rockmandashfangame" image_thumbnail="800x600" image_file="mml-008-hanmuru.png" %}

{% include image.html caption="Ferdinand" image_path="/images/games/rockmandashfangame" image_thumbnail="800x600" image_file="mml-008-ferdinand.png" %}

<h3>Download:</h3>
<ol>
	<li><a href="http://download.jericdy.com/mml-fangame/mml-0.1.0.7z">MML Fan Game v0.1.0 (7-Zip)</a></li>
	<li><a href="http://download.jericdy.com/mml-fangame/mml-0.1.0.rar">MML Fan Game v0.1.0 (RAR)</a></li>
</ol>

<h3>Source:</h3>
<ol>
	<li><a href="http://www.ign.com/articles/2016/12/05/capcom-to-begin-reviving-its-dormant-franchises">Capcom to begin reviving its dormant franchises</a></li>
</ol>

