---
layout: page
title: "Blog"
permalink: /blog/

rss: feed.xml
---

<div class="home">
	<div>
		<div>
			<p>
				Welcome to my blog section.
				Here, I talk about my life and hobbies.
			</p>
			<p>
				*I am still migrating my blog from <a href="http://blog.jericdy.com/">http://blog.jericdy.com/</a>.
			</p>
		</div>
	</div>
	<div>
		<table class="table table-hover">
			<thead>
				<th colspan="2">
					Updates
					<a href="feed.xml"><img src="/images/icons/rss.svg" width="16" height="16" /></a>
				</th>
			</thead>
			<tbody>
				{% for post in site.categories["blog"] %}
					<tr>
						<td>
							{% if post.thumbnail %}
								<a class="image-zoom" href="{{ post.thumbnail | prepend: site.baseurl }}">
									<div class="update-thumb">
										<img src="{{ post.thumbnail | prepend: site.baseurl }}" />
									</div>
								</a>
							{% else %}
								<a href="{{ post.url | prepend: site.baseurl }}">
									<div class="update-thumb">
										
									</div>
								</a>
							{% endif %}
						</td>
						<td>
							<a class="update-item" href="{{ post.url | prepend: site.baseurl }}">
								<div>
									<div class="update-title">{{ post.title }}</div>
									<div class="update-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
								</div>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
