---
layout: post
title: Cute Wedding Stuff
date: 2010-09-16 13:08:00
categories: blog
thumbnail: http://img.youtube.com/vi/4-94JhLEiN0/hqdefault.jpg

redirect_from: /blog/2010/09/cute-wedding-stuff.html
---

<p>
	These vids are too cute to not share.
	Every time I see a marriage proposal or something similar on YouTube I keep remembering these.
	I just have to share it with you guys.
	Ok, enough reading, more watching...
</p>

<p>
	My favorite wedding proposal (Ha! made you read)...
</p>

{% include video.html youtube_id="d3rlU8bGovU" %}

<p>My favorite wedding entrance...</p>

{% include video.html youtube_id="4-94JhLEiN0" %}

<p>My favorite wedding first dance...</p>

{% include video.html youtube_id="3nie9lKPifg" %}

<p>I love what the groom did at 1:35. haha</p>

<p>hope you find these cute too...</p>
