---
layout: post
title: My Decade-old Belt
date: 2010-07-20 16:10:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/100x/belt1-1.jpg
    full: /images/blog/belt1-1.jpg

redirect_from: /blog/2010/07/my-decade-old-belt.html
comment_url: http://blog.jericdy.com/2010/07/my-decade-old-belt.html
---

<p>This...</p>

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="belt1-1.jpg" %}

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="belt1-2.jpg" %}

<p>
	... is my infamous belt.
	I've been wearing it since I was in grade school.
	It's so worn out because I've been using it everyday for more than 10 years now.
	Yes people, I didn't get any fatter since then, I've been wearing this belt at it's minimum capacity for more than 10 years!
	What's so special about this belt? Well, it has a cool feature that the buckle automatically locks as it gets tighter.
</p>

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="belt1-3.jpg" %}

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="belt1-4.jpg" %}

<p>
	By lifting the lever like metal on the side, the belt will loosen.
	Why haven't I bought a new one? Because I can't afford one.
	Well, today, my dad's friend gave me a new one! haha.
</p>

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="belt1-belt2.jpg" %}

<p>Look at the difference!</p>

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="belt2-1.jpg" %}

<p>
	It's so new!
	Anyway, I shall show mercy to my old belt and let it retire. haha
</p>
