---
layout: post
title: Mike's Laptop
date: 2010-07-31 05:41:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/100x/jeric-touch-msi-cr400.jpg
    full: /images/blog/jeric-touch-msi-cr400.jpg

redirect_from: /blog/2010/07/mikes-laptop.html
comment_url: http://blog.jericdy.com/2010/07/mikes-laptop.html
---

<p>Hello people, look at me.</p>

{% include image.html image_url="/images/blog/jeric-look-at-me.jpg" %}

<p>Now at Mike's laptop.</p>

{% include image.html image_url="/images/blog/msi-cr400.jpg" %}

<p>Now back to me.</p>

{% include image.html image_url="/images/blog/jeric-look-at-me.jpg" %}

<p>Now at Mike's laptop.</p>

{% include image.html image_url="/images/blog/msi-cr400.jpg" %}

<p>Now back to me.</p>

{% include image.html image_url="/images/blog/jeric-look-at-me.jpg" %}

<p>Sadly, the laptop's not mine.</p>

<p>Look down.</p>

<p>Back up.</p>

<p>I just bought it.</p>

<p>Now it's mine.</p>

<p>What's in your head?</p>

<p>"So what?"</p>

<p>Now I touched it.</p>

{% include image.html image_url="/images/blog/jeric-touch-msi-cr400.jpg" %}

<p>It's now worth a hundred times more.</p>

<p>Anything is possible when you read my blog.</p>

<p>I'm on a chair.</p>

{% include image.html image_url="/images/blog/jeric-on-chair.jpg" %}

<p>CD-ROM HAND CATCH!!!</p>

{% include image.html image_url="/images/blog/jeric-cdrom-hand-catch.jpg" %}

<p>If you're unfamiliar with the meme, then watch this...</p>

<div class="video-container item-spacer">
	<iframe src="//www.youtube.com/embed/owGykVbfgUE" frameborder="0" allowfullscreen></iframe>
</div>

<p>and this...</p>

<div class="video-container item-spacer">
	<iframe src="//www.youtube.com/embed/nFDqvKtPgZo" frameborder="0" allowfullscreen></iframe>
</div>
