---
layout: post
title: Happy Birthday to Me!
date: 2010-07-10 15:23:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/100x/birthday-cake-from-janine.jpg
    full: /images/blog/birthday-cake-from-janine.jpg

redirect_from: /blog/2010/07/happy-birthday-to-me.html
---

<p>
	Today is my birthday!
	Everyone remembered my birthday today <font style="text-decoration: line-through">thanks to facebook birthday alerts and my IM status</font> 
</p>

{% include image.html image_path="/images/blog" image_file="ym-birthday-status.png" %}

<p>
	hahahaha! Anyway, Janine bought me this cake...
</p>

{% include image.html image_path="/images/blog" image_file="birthday-cake-from-janine.jpg" %}

<p>
	I forgot to take a picture of it before eating... daaaarn...
	My mom cooked birthday misua for me... and I forgot to take a picture of it. haha.
	Tonight we ordered what we've all been waiting for.
	Nope, not a birthday cake (I already have), not ice cream, but... BIRTHDAY PIZZA!!!
</p>

{% include image.html image_path="/images/blog" image_file="birthday-pizza-1.jpg" %}

{% include image.html image_path="/images/blog" image_file="birthday-pizza-2.jpg" %}

<p>
	Look at my little sister, Jilyan...
</p>

{% include image.html image_path="/images/blog" image_file="jilyan-pizza-happy.jpg" %}

<p>
	Eating two pizza at once.
	Look at her, she keeps laughing while eating.
	Oh the joy of food. hahahaha
</p>
