---
layout: post
title: Unrepair Man
date: 2010-05-26 09:54:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/100x/msi-vr340-back.jpg
    full: /images/blog/msi-vr340-back.jpg

redirect_from: /blog/2010/05/unrepair-man.html
---

<p>
	So I have an MSI VR340 laptop.
	I've been using it for just about a year.
	The laptop's case is very brittle.
	Opening or closing the lid will result to small cracks.
	I feel that a little more nudge would completely shatter it to pieces.
	Anyway, I decided to apply some oil to reduce the resistance on the hinge.
	Since most of the cracks are due to the hinge being too tight.
</p>

{% include image.html image_url="/images/blog/msi-vr340-hinge.jpg" %}

<p>
	These are the parts that flew off when I was opening the lid.
	The white part in the middle was part of the body of my laptop.
</p>

{% include image.html image_url="/images/blog/msi-vr340-hinge-lid.jpg" %}

<p>
	See that hole to the right?
	That's where the white piece should be.
	I have to buy epoxy to stick it there and for some other cracks that are not visible on the photo.
	I unscrew the case...
</p>

{% include image.html image_url="/images/blog/msi-vr340-back.jpg" %}

<p>
	After analyzing the case, I kinda have the idea on how to put epoxy on it without sticking it to unwanted parts.
	Right after that, when I was about to screw everything back to place I heard a *snap*.
	It was a sign, A sign of stupidity.
</p>

{% include image.html image_url="/images/blog/msi-vr340-internal.jpg" %}

<p>
	I saw two wires pointing upwards.
	I was panicking and angry at myself (and even bother to take a photo of it).
	I saw ONE outlet perfectly fit for BOTH the wires.
	Both wires looks exactly the same, so I thought... it could be a spare?
	I don't know so I'm gonna go with "it's a spare" theory.
	I covered the case and screw the lid back in place.
	I tried turning it on, but it didn't.
	Then I saw the battery light blinking, guess it's a false alarm.
	This time, I tried tuning it on with the charger plugged in.
	If I screw this up, I might screw the house's electric wirings or even start a fire.
	I need to know if it works, so I just turned it on and for some reason, the other wire IS a spare, yay!
	I returned all the screws and I don't think I'll be opening this laptop's case anytime soon. haha.
</p>
