---
layout: post
title: Durian Mania
date: 2010-05-26 00:00:00
categories: blog
thumbnail: /images/blog/durian-box-opened.jpg

redirect_from: /blog/2010/05/durian-mania.html
---

<p>
	Today, my friend Xt came to Manila from Gen San.
	I asked him to bring me around 7 to 10KG of durian.
	I want to buy it for my mom, but told me just 5kg because it's so heavy.
	My mom BTW, is so addicted to durian that it's even her profile picture on Facebook!
	Anyway, we met in our university for the exchange.
	I'm glad that the LRT guard allowed the durian or I'll have to take the jeep and sweat even more.
	After riding the LRT, I walked (and sweat a lot) back home.
	I'm glad that Xt didn't bring me 10kg or I'll be dying from exhaustion.
	When I finally got home, my mom got exited about the durian.
</p>

{% include image.html image_url="/images/blog/durian-boxed.jpg" %}

<p>
	Xt told me to keep it in the fridge as soon as I get home to preserve the sweetness.
	I told my mom exactly that.
	We opened it up.
</p>

{% include image.html image_url="/images/blog/durian-box-opened.jpg" %}

<p>
	That's 1kg per pack.
	So my mom hurriedly put the durian into the fridge, but wait, what's this?!
</p>

{% include image.html image_url="/images/blog/durian-one-left.jpg" %}

<p>
	1kg didn't make it to the fridge.
	But why?!
</p>

{% include image.html caption="5 minutes later" image_url="/images/blog/durian-seed.jpg" %}

<p>
	hahahaha. Me and my little sister help a little, but it was mostly eaten by my mom. hahaha.
</p>
