---
layout: post
title: Surprise Overnight!... Fail
date: 2010-10-18 13:59:00
categories: blog
thumbnail: /images/blog/jeric-friends-johnny-rockets-2.jpg

redirect_from: /blog/2010/10/surprise-overnight-fail.html
---

<p>
	Last Saturday, me and my high school friends (Angelo, Geoff, Jay) planned to hang out.
	Jay and I planned to have a "surprise overnight" at Geoff's.
	Well unfortunately, this thing called "reality" got in the way!
	When we got to Geoff's, he asked me and Jay why we have bags?
	Jay told him... well, you know "surprise overnight!"
	Angelo got surprised because we didn't tell him.
	Geoff told us we can't stay because they will be going to Tagaytay the next day!
	Ha! We were the ones who got surprised!
	So anyway, we headed to Eastwood City, and roam around then ate dinner at Johnny Rockets.
</p>

{% include image.html caption="(from left to right: Angelo, Jay, Geoff, Me!)" image_url="/images/blog/jeric-friends-johnny-rockets-1.jpg" %}

{% include image.html image_url="/images/blog/jeric-friends-johnny-rockets-2.jpg" %}

{% include image.html image_url="/images/blog/jeric-friends-johnny-rockets-3.jpg" %}

{% include image.html image_url="/images/blog/jeric-friends-johnny-rockets-4.jpg" %}

{% include image.html caption="Unlimited Fries!!!" image_url="/images/blog/jeric-friends-johnny-rockets-5.jpg" %}

<p>
	Anyway, we roam around a little before going back and we saw this this mime.
	I took pictures of him from different angles...
</p>

{% include image.html image_url="/images/blog/eastwood-mime-1.jpg" %}

{% include image.html image_url="/images/blog/eastwood-mime-2.jpg" %}

{% include image.html image_url="/images/blog/eastwood-mime-3.jpg" %}

<p>Ok, now me from different angles...</p>

{% include image.html image_url="/images/blog/jeric-mime-1.jpg" %}

{% include image.html image_url="/images/blog/jeric-mime-2.jpg" %}

{% include image.html image_url="/images/blog/jeric-mime-3.jpg" %}

<p>
	HAHA, some people were laughing at me when I was posing.
	Anyway, we got back to Geoff's, the 3 of us went home at 5am the next day, because Geoff needs to sleep before going to Tagaytay... pshhh, who needs sleep? haha.
</p>
