---
layout: post
title: Yahoo!... ?!?!
date: 2010-09-08 15:22:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/100x/ym-zombie-prank-2.png
    full: /images/blog/ym-zombie-prank-2.png

redirect_from: /blog/2010/09/yahoo.html
---

<p>
	It's been a while since I last blogged.
	I couldn't think of anything to blog until today.
</p>

<p>
	Recently, tons of Yahoo! accounts have been hijacked (well at least tons of my friends has been hijacked).
	I wonder how Yahoo! is gonna face this problem.
	Anyway, after getting hijacked, your account will become the hacker's zombie advertiser.
	Here is an example of a conversation with one of the zombie account...
</p>

{% include image.html image_url="/images/blog/ym-zombie-full-message.png" %}

<p>
	Some of my friends, who are not hijacked, took this opportunity to prank others for fun.
	I'm one of those victims. haha.
	Here are some screenshots...
</p>

{% include image.html image_url="/images/blog/ym-zombie-prank-1.png" %}

{% include image.html image_url="/images/blog/ym-zombie-prank-2.png" %}

<p>That's all for now, hope you find it funny too. haha.</p>
