---
layout: post
title: My Misadventure in National Bookstore
date: 2010-05-22 16:10:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/100x/mechanical-pencil-2mm.jpg
    full: /images/blog/mechanical-pencil-2mm.jpg

redirect_from: /blog/2010/05/my-misadventure-in-national-bookstore.html
---

<p>
	Today, we're at SM San Lazaro with my aunt's family.
	We went to the arcades with my cousins.
	I've got addicted to the slot machine, luck was not with me, unfortunately.
	It is however, with my cousins. So I keep asking them for the tokens they've won, haha!
	Anyway, we went to National Bookstore after. I remembered I need to buy lead for my 2.0mm mechanical pencil.
</p>

{% include image.html image_path="/images/blog" image_file="mechanical-pencil-2mm.jpg" %}

<p>
	I have never bought a 2.0mm lead before, so I have no idea about the price range.
	I asked the saleslady, and she gave this to me and said 5 PHP.
</p>

{% include image.html caption="Taken with my Nokia 2700 :(" image_path="/images/blog" image_file="mechanical-pencil-lead-5php.jpg" %}

<p>
	Wow, 12pcs for 5PHP how cheap is that?!
	I took two, and head my way to the counter, guess what, I saw another one.
</p>

{% include image.html image_path="/images/blog" image_file="mechanical-pencil-lead-13php.jpg" %}

<p>
	5pcs for 13.50PHP. I thought, maybe the expensive one have much better quality and doesn't easily break.
	I grabbed one.
	I saw my mom was about to pay for my sister's school supplies, so I passed my things to her and told her I will pay her later.
	After paying, my mom asked me what did I just buy, because it boosted the bill to around 200PHP and my sister's items aren't that expensive.
	I look at the receipt and told her "LOOK! You've bought 24 something that's five... pesos... each...". Realizing something... I look at the lead...
</p>

{% include image.html image_path="/images/blog" image_file="mechanical-pencil-load-x12.jpg" %}

<p>
	... and realized it was me!
	Yes, look at that! There's a "x12" written on the bar code! I didn't noticed it at all, and the saleslady didn't told me it was 5PHP EACH.
	It turns out that the one I thought was more expensive, is in fact the cheaper one.
	The mechanical pencil was given to me by my younger sister for my birthday last year July.
	It included one lead that is now (10 months later) 2cm left.
	Thanks to my stupidity, I now have 29 lead pcs.
	Enough to supply me for the rest of my life! haha!
</p>
