---
layout: post
title: Goodbye Mosquitoes!
date: 2010-05-25 02:46:00
categories: blog
thumbnail: /images/blog/mosquito-pester-2.jpg

redirect_from: /blog/2010/05/goodbye-mosquitoes.html
comment_url: http://blog.jericdy.com/2010/05/goodbye-mosquitoes.html
---

<p>
	I'm finally finished with the Mosquito Pester kit. It took me around 2 hours to finish this.
</p>

{% include image.html image_url="/images/blog/mosquito-pester-1.jpg" %}

<p>
	I've soldered two 5 PHP cents there to act as the battery holder.
	I've also found some something inside my room (it's full of trash).
</p>

{% include image.html image_url="/images/blog/mosquito-pester-battery-container.jpg" %}

<p>
	Look at that!
	It's exactly what I need for a container!
	It also serves as a stand at the same time.
	I can place one AA battery and 1 solid wire.
	My little sister told me this belongs to the inside of her paste bottle, we have no idea how it ended up in my room.
</p>

{% include image.html image_url="/images/blog/mosquito-pester-2.jpg" %}

<p>
	This is the finished product.
	I've placed aluminum foil above to act as a cover and to let the battery have contact with the 5 centavo coin.
	Here's from another angle.
</p>

{% include image.html image_url="/images/blog/mosquito-pester-3.jpg" %}

<p>
	The finished product looks more like a bomb if you ask me.
	Anyway, I'm so happy with this toy, that I bring it everywhere I go inside the house. hahaha.
</p>
