---
layout: post
title: Toy Con 2010 at SM Mega Mall
date: 2010-06-26 00:00:00
categories: blog
thumbnail: /images/blog/jeric-pvz-zombies-cosplay.jpg

redirect_from: /blog/2010/06/toy-con-2010-at-sm-mega-mall.html
---

<p>
	Hello hello, it's been a while since I last blogged.
	Well, that's because nothing interesting happened to me, except for the Toy Con event last Saturday (June 19).
	Me, Janine (my girlfriend) and her little brother Geo went there.
<p>

<p>
	here are some pics Geo asked me to take...
</p>

{% include image.html image_url="/images/blog/toy-closet-1.jpg" %}

{% include image.html image_url="/images/blog/toy-closet-2.jpg" %}

{% include image.html image_url="/images/blog/miniature-battlefield.jpg" %}

<p>
	...and then I found this wig...
</p>

{% include image.html caption="hahaha, I look silly" image_url="/images/blog/jeric-wig.jpg" %}

LOOK! Superman is actually...

{% include image.html image_url="/images/blog/superman-megaman.jpg" %}

<p>
	A MEGA MAN FAN! JUST LIKE ME!!!
</p>

<p>
	and Batman is actually...
</p>

{% include image.html image_url="/images/blog/janine-batman.jpg" %}

<p>
	A SHE!!! He/She looks depressed though, haha. Small head.
</p>

<p>
	Janine made me wear this. haha
</p>

{% include image.html image_url="/images/blog/jeric-bunny-1.jpg" %}

{% include image.html image_url="/images/blog/jeric-bunny-2.jpg" %}

<p>and look!</p>

{% include image.html image_url="/images/blog/jeric-pvz-zombies-cosplay.jpg" %}

<p>
	I think I found my biological parents!
	Which I think automatically makes...
</p>

{% include image.html image_url="/images/blog/pvz-plants-cosplay.jpg" %}

<p>
	my biological enemy? hehehe
</p>

<p>
	I also saw the complete set of Dragon Ball characters... I think....
</p>

{% include image.html image_url="/images/blog/dragon-ball-cosplay-1.jpg" %}

{% include image.html image_url="/images/blog/dragon-ball-cosplay-2.jpg" %}

<p>
	I guess that's all for now, hope you enjoyed this.
</p>
