---
layout: post
title: Now What?
date: 2011-01-11 20:10:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/x100/ice-skating-jilyan-2.jpg
    full: /images/blog/ice-skating-jilyan-2.jpg

redirect_from: /blog/2011/01/now-what.html
---

<p>
	So apparently I haven't blogged for a LOOOOOOOONG time.
	Ok, maybe not that long, just LOONG (2 months, if you don't consider my <a href="/blog/2010/12/15/call-me-master-dy.html">bragging</a> to be blogging).
	What happened to me?
	Well after I passed my master's thesis defense last December I was hoping to concentrate on <a href="/games/rockmandashfangame/">this fan game</a>,
	but instead the preprogrammed <a href="http://en.wikipedia.org/wiki/Quarter-life_crisis">Quarter-life Crisis</a> in our human brains executed on mine.
	At that time, I don't know what to do in my life.
	I want to take up Ph.D. in Computer Science abroad,
	I want to start my own game development company,
	I want to start working since I already have job offers and so on.
	Basically, I want to do everything I ever wanted to do (but has been doing nothing productive during the period).
</p>

<p>
	So now what?
	Well apparently I still can't work, I have to wait for my thesis panelists to approved my revised document, reprint my document with the university paper, book bind, then submit.
	Only then I am officially an MSCS graduate.
	So right now, I will concentrate on doing my fan game.
	Yay if you're a fan.
	I also need to prepare my conference paper and slides for <a href="http://ccs.adnu.edu.ph/pcsc2011/?p=1">PCSC 2011</a> for this March.
	After that's done, we'll just see what path I'll choose.
	For now, all I can say is that my plan is still fuzzy.
</p>

<p>Well whatever, here are some things I've done during the break...</p>

<p><b>December 28, 2010: ICE SKATING!!!</b></p>

{% include image.html caption="This is my youngest sister" image_url="/images/blog/ice-skating-jilyan-1.jpg" %}

{% include image.html caption="Yay snow! or not" image_url="/images/blog/ice-skating-jilyan-2.jpg" %}

{% include video.html caption="Yay very low quality phone video!" youtube_id="ztrSVM5Umio" %}

{% include image.html caption="Yay snow balls! (sister and cousins)" image_url="/images/blog/ice-skating-cousins.jpg" %}

{% include video.html caption="Bye snow balls!" youtube_id="ySzHMvkSQZU" %}

<p><b>January 1, 2011: Sister's Birthday!!!</b></p>

<p>
	Also, due to the massive amount of pollution emitted by the fireworks, I am also calling this day, Air Pollution Day
	So... BELATED HAPPY AIR POLLUTION DAY!!!
</p>

{% include image.html caption="here's my sister enjoying her soup" image_url="/images/blog/jilyan-food-1.jpg" %}

{% include image.html caption="BIRTHDAY PIZZA SURPRISE!!!" image_url="/images/blog/jilyan-food-2.jpg" %}

{% include image.html caption="Alright, I get it, she likes food, don't have to smile like that LOL" image_url="/images/blog/jilyan-food-3.jpg" %}

{% include image.html caption="ah yes, the joy of food" image_url="/images/blog/jilyan-food-4.jpg" %}

<p>
	What else have I done?
	I dunno, I've already forgotten everything else, it doesn't matter BECAUSE IT'S ALREADY 4:10AM!!!
	WHY AM I EVEN BLOGGING AT THIS TIME! I NEED TO SLEEP! k bye
</p>
