---
layout: post
title: Ultimate Nacho Experience
date: 2011-01-30 15:53:00
categories: blog
thumbnail: /images/blog/chilis-bottomless-fried-tortillas-with-cheese.jpg

redirect_from: /blog/2010/05/durian-mania.html
---

<p>
	So today, me and my friends (Angelo, Geoff, Jay) met at the Mall of Asia at around 8 to 9am (too early! considering my normal waking time, 2pm).
	We chat, ate lunch and chat some more.
	During lunch, we have this crazy idea. Chilis have this "bottomless fried tortillas" on their menu, and what if we ordered it and just eat the fried tortillas till 10pm?
	Well, we agreed on it and decided to go to the GreenBelt branch right after.
	Jay had to leave (academia) at that time, fortunately Janine will join us on our crazy idea (and share the bills!).
</p>

<p>So we arrived at Chilis at around 5:30pm. We ordered the bottomless fried tortillas...</p>

{% include image.html caption="bottomless fried tortillas with additional cheese dip" image_url="/images/blog/chilis-bottomless-fried-tortillas-with-cheese.jpg" %}

<p>Then we begin to eat like there's tomorrow...</p>

{% include image.html caption="left to right: Janine, Jeric (me), Angelo, Geoff" image_url="/images/blog/chilis-jeric-and-friends.jpg" %}

<p>Two hours later (7:30pm), we were so full that we may have already eaten all the tortillas we would eat for our lifetime. So full... so full that...</p>

{% include image.html caption="... uh... yeah..." image_url="/images/blog/chilis-jeric-sleep.jpg" %}

<p>
	So anyway, we paid the bills, walk around and head home.
	I am not used to wake up before 2pm.
	I need my sleep right now! BYE!
</p>
