---
layout: post
title: 11th Philippine Computing Science Congress at Ateneo De Naga
date: 2011-03-07 06:49:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/x100/pcsc11-kit.jpg
    full: /images/blog/pcsc11-kit.jpg

redirect_from: /blog/2011/03/11th-philippine-computing-science.html
comment_url: http://blog.jericdy.com/2011/03/11th-philippine-computing-science.html
---

<p>
	Hello! If you've been following me on Twitter, you'll know I went to Naga City for the annual PCSC conference.
	The conference was on March 4-5, we took the bus on March 3 7:30am...
</p>


{% include image.html caption="Yay bus!" image_url="/images/blog/pcsc11-bus.jpg" %}

{% include image.html caption="Yay me and mom!" image_url="/images/blog/pcsc11-jeric-mom.jpg" %}

{% include image.html caption="Yay rain!" image_url="/images/blog/pcsc11-rain.jpg" %}

{% include image.html caption="Yay blur!" image_url="/images/blog/pcsc11-blur.jpg" %}

{% include image.html caption="Yay shine!" image_url="/images/blog/pcsc11-shine.jpg" %}

{% include image.html caption="Yay something normal!" image_url="/images/blog/pcsc11-normal.jpg" %}

<p>
	After 8 LOOONG BORIIING hours of trip (with LOTS and LOTS of sleeping) we arrived at Naga City.
	While waiting for my friend Jay's overseer (? not sure if I used the right word; but she's the one who takes care of the house),
	we went to SM City Naga...
</p>

{% include image.html image_url="/images/blog/pcsc11-sm-naga-1.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-sm-naga-2.jpg" %}

{% include image.html caption="I don't know what this is, but it looks like a giant... fan? It spins though..." image_url="/images/blog/pcsc11-sm-fan.jpg" %}

{% include image.html caption="reminds me of Yellow Cab Pizza, this is where the security stands" image_url="/images/blog/pcsc11-sm-yellow-cab.jpg" %}

It was already late, so we ate dinner

{% include image.html caption="Mine! Beef Ramen" image_url="/images/blog/pcsc11-beef-ramen.jpg" %}

{% include image.html caption="Mom's Beef Teriyaki" image_url="/images/blog/pcsc11-beef-teriyaki.jpg" %}

<p>
	After that, Jay's overseer(?) arrived and took us to Jay's (abandoned) home.
	Next day, March 4, we went to Ateneo De Naga for the conference...
</p>

{% include image.html image_url="/images/blog/pcsc11-church-1.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-church-2.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-plants-1.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-plants-2.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-xavier-hall.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-lunch-1.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-lunch-2.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-banner-1.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-banner-2.jpg" %}

{% include image.html caption="My Kit" image_url="/images/blog/pcsc11-kit.jpg" %}

<p>
	And look! I found copies of the journal where our paper from last year's PCSC got in.
</p>

{% include image.html image_url="/images/blog/pcsc-journal-front.jpg" %}

{% include image.html image_url="/images/blog/pcsc-journal-back.jpg" %}

{% include image.html image_url="/images/blog/pcsc-journal-cdll.jpg" %}

{% include image.html image_url="/images/blog/pcsc-journal-mddt.jpg" %}

{% include image.html image_url="/images/blog/pcsc-journal-back.jpg" %}

<p>
	Bought two copies, one for me, one for Leif.
	After that, I listened to the talks... my mom got bored and played word search haha.
</p>

<p>
	Next day, March 5, again, we went to Ateneo. This time, I'll be presenting at 3:00pm!
</p>

<p>
	here...
</p>

{% include image.html image_url="/images/blog/pcsc11-presentation-room.jpg" %}

<p>
	I listened to the talks, until 3:00pm...
</p>

{% include image.html image_url="/images/blog/pcsc11-jeric-title.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-jeric-clustering.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-jeric-dim.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-jeric-tf.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-jeric-rpm.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-jeric-comp.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-jeric-centroid.jpg" %}

{% include image.html image_url="/images/blog/pcsc11-jeric-end.jpg" %}

<p>
	I think I suck at presenting, but they say my presentation was clear, let's just hope so...
	Anyway, I received my certificate...
</p>

{% include image.html image_url="/images/blog/pcsc11-jeric-cert.jpg" %}

<p>
	he conference ended at 5pm. We took a picture of all fellow La Sallians who attended the conference...
</p>

{% include image.html caption="Me at the most left, and every body else of my right. hahaha (photographer: Sir Greg Cu)" image_url="/images/blog/pcsc11-group-1.jpg" %}

{% include image.html caption="now with addition of Sir Greg Cu spot him! (photographer: some random person walking by)" image_url="/images/blog/pcsc11-group-2.jpg" %}

<p>
	Next day, March 6, we're returning home to Manila.
	And yes, that means another EIGHT WHOLE HOURS OF DOING NOTHING BUT SLEEP.
</p>

{% include image.html image_url="/images/blog/pcsc11-going-back.jpg" %}

<p>
	I didn't get the chance to go wakeboarding, just had the chance to sleep a LOT!
	Besides Mastering Computer Science, I think I may have mastered the art of sleeping.
	I can now sleep whenever I wa... zzzz
</p>