---
layout: post
title: Ultimate Guide to Clean your Keyboard
date: 2011-01-27 16:23:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/100x/keyboard-cleaned.jpg
    full: /images/blog/keyboard-cleaned.jpg

redirect_from: /blog/2011/01/ultimate-guide-to-clean-your-keyboard.html
comment_url: http://blog.jericdy.com/2011/01/ultimate-guide-to-clean-your-keyboard.html
---

<p>
	While posting <a href="/blog/2011/01/26/how-to-ruin-your-day.html">this</a>,
		I saw my dirty keyboard from the pictures and I realized that my desktop is already too messy, dusty and dirty.
	Therefore, I declare every Thursday is computer cleaning day, starting today! (ends tomorrow).
</p>

<p>
	The following will be a tutorial on how to clean your keyboard efficiently! REALLY!
</p>

<p><b>Step 1:</b> Remove keys from the board and place keys into position so it can be easily sorted out later</p>

{% include image.html image_url="/images/blog/keyboard-organized-keys.jpg" %}

<p><b>Step 2:</b> Accidentally kicked everything out of place while returning the camera phone to the table; and share stupidity to the Internet! (who needs step 1?!)</p>

{% include image.html image_url="/images/blog/keyboard-kicked-keys.jpg" %}

<p><b>Step 3:</b> Clean the keyboard with a rag</p>

{% include image.html image_url="/images/blog/keyboard-no-keys.jpg" %}

<p><b>Step 4:</b> Wash keys with soap and leave to dry</p>

{% include image.html image_url="/images/blog/keyboard-keys.jpg" %}

<p><b>Step 5:</b> Say hi to the Internet (FPOM)</p>

{% include image.html image_url="/images/blog/keyboard-message.jpg" %}

<p><b>Step 6:</b> Put the keys back to the board and admire yourself! (less effort when Step 2 is skipped)</p>

{% include image.html image_url="/images/blog/keyboard-cleaned.jpg" %}

<p>
	Look at that! It's so clean! It's like brand new!
	It's all thanks to Step 2 and 5, really!
	Now that the keyboard is cleaned, just grab your rag and wipe everything else up.
</p>

{% include image.html caption="Look at that! It's so clean!" image_url="/images/blog/keyboard-on-computer.jpg" %}

{% include image.html caption="Now with the lights off" image_url="/images/blog/keyboard-no-lights.jpg" %}

<p>
	Unbelievable right?!
	If you follow my steps correctly you should be able to achieve the same thing!
	<b>GLOWING KEYBOARD DUE TO CLEANLINESS AND AWESOMENESS!!!</b>
</p>
