---
layout: post
title: How to Ruin Your Day
date: 2011-01-26 15:44:00
categories: blog
thumbnail: /images/blog/usb-controller-fixed.jpg

redirect_from: /blog/2011/01/how-to-ruin-your-day.html
---

<p>
	Earlier today, I was programming my <a href="/games/rockmandashfangame/">Mega Man Legends fan game</a> until I wanted to compare its difference with the original game.
	I connected my USB joystick and started playing Mega Man Legends 2, but the joystick won't respond.
	I have this joystick for like 5 years (or more) now, it has been broken lots and lots of times, and it has been repaired lots and lots of times.
	This time, I'm repairing it myself, I took my screw driver, and unscrew the case.
</p>

{% include image.html image_url="/images/blog/usb-controller-open-1.jpg" %}

<p>
	I saw one of the USB wire (black) dangling inside.
	I'm glad that I only have to solder that wire in place then everything will be alright.
	I took my soldering iron but can't find my soldering wire.
	So went on a 2 hour journey into the dungeon of missing items (my room) and finally found it.
</p>

{% include image.html caption="TADAAAH!" image_url="/images/blog/usb-controller-open-2.jpg" %}

<p>So I quickly solder the dangling wire then tested it...</p>

{% include image.html caption="BIG RED analog light" image_url="/images/blog/usb-controller-open-3.jpg" %}

<p>I tested it on the Mega Man Legends 2 game...</p>

{% include image.html image_url="/images/blog/jeric-plays-mml2-1.jpg" %}

<p>It works! so all I have to do now is screw the case up and done... but suddenly...</p>

{% include image.html image_url="/images/blog/usb-controller-open-4.jpg" %}

<p>
	the wire for force feedback motor came off.
	I have to unscrew everything again, and then solder that wire!
	After that, another wire came off, and again... and again... and again...
	I got so frustrated that I want to throw the five year old joystick to the window already!
	It happened for more than a dozen times!
	But finally, I was able to close the case without pulling anymore wire off.</p>

{% include image.html image_url="/images/blog/usb-controller-fixed.jpg" %}

<p>
	BUT I'M STILL STRESSED! I TOOK ME MORE THAN FIVE HOURS JUST TO REPAIR THIS THING!
</p>

{% include image.html image_url="/images/blog/jeric-plays-mml2-2.jpg" %}

<p>So I just played Mega Man to relieve my stress for today. What a frustrating day...</p>
