---
layout: post
title: Boracay!
date: 2011-04-16 02:28:00
categories: blog
thumbnail: /images/blog/boracay-jeric-havaianas.jpg

redirect_from: /blog/2011/04/boracay.html
comment_url: http://blog.jericdy.com/2011/04/boracay.html
---

<p>
	Hello readers! We've been to Boracay last April 8-10, and it was GREAT!
	Geoff fetched me at 6am in the morning and we went to the airport. Our flight is at 8:30am.
	It was our first time going there.
</p>


{% include image.html caption="me and Geoff in the airport... van?" image_url="/images/blog/boracay-jeric-geoff-1.jpg" %}

{% include image.html caption="The plane with propellers!" image_url="/images/blog/boracay-plane-propellers.jpg" %}

<p>
	It's also my first time to ride a plane this small.
	We arrived at Caticlan Airport...
</p>

{% include image.html image_url="/images/blog/boracay-jeric-geoff-2.jpg" %}

{% include image.html image_url="/images/blog/boracay-caticlan-airport.jpg" %}

{% include image.html image_url="/images/blog/boracay-plane-caticlan.jpg" %}

<p>
	rode a tricycle, to the port, then rode this boat...
</p>

{% include image.html caption="I got sea sick" image_url="/images/blog/boracay-boat.jpg" %}

{% include image.html image_url="/images/blog/boracay-boat-ride-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-boat-ride-2.jpg" %}

<p>
	Lucky it was a short ride.
</p>

{% include image.html image_url="/images/blog/boracay-shore-1.jpg" %}

<p>
	we rode another tricycle to our inn, and look at this!
</p>

{% include image.html caption="funny, hahaha" image_url="/images/blog/boracay-inn-bed.jpg" %}

<p>
	We got out and took some pictures...
</p>

{% include image.html image_url="/images/blog/boracay-jeric-havaianas.jpg" %}

{% include image.html image_url="/images/blog/boracay-beach-shore-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-beach-shore-2.jpg" %}

<p>
	While I was playing with the sand, Geoff was hiding from the sun.
	We walked around the beach and waited for Angelo and Jay, their flight is at 12:30pm.
</p>

{% include image.html caption="Angelo" image_url="/images/blog/boracay-angelo-airport.jpg" %}

{% include image.html caption="Jay" image_url="/images/blog/boracay-jay-airport.jpg" %}

<p>
	We met at around 2-3pm, we swum, chat, walked, you know, the usual. and look what I've found!
</p>

{% include image.html image_url="/images/blog/boracay-jeric-tribe.jpg" %}

{% include image.html caption="GREYMOOOON!!!" image_url="/images/blog/boracay-jeric-greymon.jpg" %}

<p>
	We took some jump shots...
</p>

{% include image.html image_url="/images/blog/boracay-jump-shot-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-jump-shot-2.jpg" %}

{% include image.html image_url="/images/blog/boracay-jump-shot-3.jpg" %}

{% include image.html image_url="/images/blog/boracay-fire-dance.jpg" %}

<p>
	While walking, we found 2 foreigners (Americans i think) lighting up 2 sky lanterns.
	The first one flew successfully, the second one didn't go far.
</p>

{% include image.html image_url="/images/blog/boracay-sky-lantern-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-sky-lantern-2.jpg" %}

<p>
	The next day, Angelo woke us up at 5am!!! Just to take these pictures!
</p>

{% include image.html image_url="/images/blog/boracay-morning-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-morning-2.jpg" %}

{% include image.html image_url="/images/blog/boracay-morning-3.jpg" %}

{% include image.html image_url="/images/blog/boracay-morning-4.jpg" %}

{% include image.html image_url="/images/blog/boracay-morning-5.jpg" %}

{% include image.html image_url="/images/blog/boracay-morning-6.jpg" %}

<p>
	then he told us to go back to sleep! UNBELIEVABLE! HAHAHA!
	Unlike them, I had a hard time going back to sleep.
	At 9am or so, we woke up and went to the beach, I got buried... with a mermaid tail...
</p>

{% include image.html image_url="/images/blog/boracay-jeric-mermaid-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-jeric-mermaid-2.jpg" %}

{% include image.html image_url="/images/blog/boracay-jeric-mermaid-3.jpg" %}

<p>
	watch me unbury myself...
</p>

{% include video.html youtube_id="T8LPCJ2UaJs" %}

<p>
	we rode a banana boat!!!
</p>

{% include image.html image_url="/images/blog/boracay-banana-boat-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-banana-boat-2.jpg" %}

{% include image.html image_url="/images/blog/boracay-banana-boat-3.jpg" %}

{% include image.html image_url="/images/blog/boracay-banana-boat-4.jpg" %}

<p>
	then, HELMET DIVING YAY!
</p>

{% include image.html image_url="/images/blog/boracay-helmet-diving-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-helmet-diving-2.jpg" %}

{% include image.html image_url="/images/blog/boracay-helmet-diving-3.jpg" %}

{% include image.html image_url="/images/blog/boracay-helmet-diving-4.jpg" %}

{% include video.html youtube_id="njCZV9PW7QM" %}

<p>
	we looked a lot like astronauts, haha.
	After that, we saw the sand castle I took a picture with yesterday ruined by the rain last night...
</p>

{% include image.html image_url="/images/blog/boracay-sand-castle-destroyed.jpg" %}

<p>
	Angelo and Jay had some Thai massage...
</p>

{% include image.html image_url="/images/blog/boracay-angelo-thai-massage.jpg" %}

{% include image.html image_url="/images/blog/boracay-jay-thai-massage.jpg" %}

<p>
	while me and Geoff looked for souvenirs.
	After that, we meet up and ate dinner and the fun begins.
</p>

<p>
	We went to <a href="http://www.facebook.com/GuillysBoracay">Guilly's</a> and saw this challenge...
</p>

{% include image.html image_url="/images/blog/boracay-gone-in-60-seconds.jpg" %}

<p>
	Geoff got challenged!
</p>

{% include image.html caption="Geoff accepts challenge" image_url="/images/blog/boracay-geoff-accepts-challenge.jpg" %}

{% include image.html caption="Geoff took the challenge" image_url="/images/blog/boracay-geoff-took-challenge.jpg" %}

{% include image.html caption="Geoff finished the challenge in 49 secs" image_url="/images/blog/boracay-geoff-finished-challenge.jpg" %}

{% include image.html image_url="/images/blog/boracay-challenge-empty.jpg" %}

{% include image.html image_url="/images/blog/boracay-geoff-write-name.jpg" %}

<p>
	He made it to the <a href="http://www.facebook.com/photo.php?fbid=209728512389415&set=a.208460922516174.58920.116759275019673">Hall of fame</a>!
</p>

{% include image.html image_url="/images/blog/boracay-guilys.jpg" %}

<p>
	the three of us took one shot each
</p>

{% include image.html image_url="/images/blog/boracay-3-shots.jpg" %}

<p>
	... and I received a text that my flight at 2pm tomorrow was canceled and will be transfered to the same flight with them at 7-8am...
</p>

{% include image.html caption="Geoff got drunk" image_url="/images/blog/boracay-geoff-drunk.jpg" %}

<p>
	We party
</p>

{% include image.html image_url="/images/blog/boracay-party-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-party-2.jpg" %}

<p>
	On our way back, we saw these two girls in another bar dancing wild
</p>

{% include image.html image_url="/images/blog/boracay-wild-dancers-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-wild-dancers-2.jpg" %}

{% include video.html youtube_id="YMrU9DKSDZI" %}

{% include image.html image_url="/images/blog/boracay-jeric-dancer.jpg" %}

{% include image.html image_url="/images/blog/boracay-angelo-dancer.jpg" %}

{% include image.html image_url="/images/blog/boracay-jay-dancer.jpg" %}

<p>
	On our way back, Geoff is already wasted, hahaha.
	oh yes, he did get it to the hall of fame... and he also did the walk of shame. hahahaha.
	It took us around 1.5 hrs to go to the bar from our inn, you could just imagine how long it took us to drag Geoff back.
</p>

{% include image.html image_url="/images/blog/boracay-geoff-drag.jpg" %}

{% include image.html caption="He fell" image_url="/images/blog/boracay-geoff-fell.jpg" %}

{% include image.html caption="Like all normal friends would do, we get the camera and took some shots. hahaha" image_url="/images/blog/boracay-geoff-fell-jeric.jpg" %}

{% include image.html image_url="/images/blog/boracay-geoff-piggyback-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-geoff-piggyback-2.jpg" %}

{% include image.html image_url="/images/blog/boracay-geoff-wasted-1.jpg" %}

{% include image.html caption="my new skin color, arm vs legs" image_url="/images/blog/boracay-skin-color.jpg" %}

<p>
	Next day, the hangover...
</p>

{% include image.html image_url="/images/blog/boracay-geoff-wasted-2.jpg" %}

{% include image.html caption="tricycle ride" image_url="/images/blog/boracay-geoff-wasted-3.jpg" %}

{% include image.html image_url="/images/blog/boracay-jeric-jay-angelo.jpg" %}

{% include image.html image_url="/images/blog/boracay-geoff-wasted-4.jpg" %}

{% include image.html caption="boat ride..." image_url="/images/blog/boracay-geoff-wasted-5.jpg" %}

{% include image.html caption="photobomb" image_url="/images/blog/boracay-photobomb.jpg" %}

{% include image.html image_url="/images/blog/boracay-boat-ride-3.jpg" %}

{% include image.html image_url="/images/blog/boracay-boat-ride-4.jpg" %}

{% include image.html image_url="/images/blog/boracay-boat-ride-5.jpg" %}

{% include image.html image_url="/images/blog/boracay-airport-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-airport-2.jpg" %}

{% include image.html image_url="/images/blog/boracay-airport-3.jpg" %}

{% include image.html caption="plane ride..." image_url="/images/blog/boracay-geoff-wasted-5.jpg" %}

{% include image.html image_url="/images/blog/boracay-jeric-laptop.jpg" %}

{% include image.html image_url="/images/blog/boracay-manila-1.jpg" %}

{% include image.html image_url="/images/blog/boracay-manila-2.jpg" %}

<p>
	back at Geoff's where we all fell asleep
</p>

{% include image.html image_url="/images/blog/boracay-geoff-wasted-7.jpg" %}

{% include image.html image_url="/images/blog/boracay-sleep.jpg" %}

<p>
	and woke up at 1pm for lunch
</p>

{% include image.html image_url="/images/blog/boracay-jollibee.jpg" %}

<p>
	here's all the pictures (about 1000 pics) and videos we took compiled...
</p>

{% include video.html youtube_id="bfQUeQcrxhQ" %}
