---
layout: post
title: 3D Printing
date: 2012-10-03 16:06:00
categories: blog
thumbnail: /images/blog/3d-print-mml-front.jpg

redirect_from: /blog/2012/10/3d-printing.html
---

<p>
	Hello readers, it's been a while, But look what I've got today!
	A Mega Man Trigger figure printed with MakerBot using my 3D model!
	How awesome is that?!
	Too bad MakerBot doesn't print support material so the hands look messy.
	It looks like Mega Man's wearing a symbiote suit. haha
</p>

{% include image.html image_url="/images/blog/3d-print-mml-front.jpg" %}

{% include image.html image_url="/images/blog/3d-print-mml-side.jpg" %}

{% include image.html image_url="/images/blog/3d-print-mml-closeup.jpg" %}

<p>
	---<br />
	update:
	Just to be clear, the printer's not mine.
</p>
