---
layout: post
title: Ph.D. in National University of Singapore
date: 2012-04-24 13:16:00
categories: blog
thumbnail: /images/blog/nus-phd-letter-1.jpg

redirect_from: /blog/2012/04/phd-in-national-university-of-singapore.html
comment_url: http://blog.jericdy.com/2012/04/phd-in-national-university-of-singapore.html
---

<p>
	OH BOY OH BOY OH BOY! IT FINALLY ARRIVED!
</p>

{% include image.html image_url="/images/blog/nus-phd-letter-1.jpg" %}

{% include image.html image_url="/images/blog/nus-phd-letter-2.jpg" %}

<p>
	It's for my PhD degree in Computer Science at National University of Singapore.
	My classes will start this August.
</p>
