---
layout: post
title: Timing
date: 2012-10-04 13:12:00
categories: blog
thumbnail: /images/blog/jericdy.com-google-apps.png

redirect_from: /blog/2012/10/timing.html
---

<p>
	So after buying the domain <a href="jericbryledy.com">jericbryledy.com</a> back in June 2010,
		I immediately bought <a href="jericdy.com">jericdy.com</a>, <a href="jericbryle.com">jericbryle.com</a> (and a secret one) shortly after.
	All redirects to jericbryledy.com.
	On September 11 this year, I thought of switching my main domain from jericbryledy to jericdy.
	It's shorter and less confusing for people who don't know how to spell my second name, Bryle.
	My first name itself is already hard to spell (i.e. Jerick, Jerick, Jerrick).
	My site is hosted on Google Sites, first I add www.jericdy.com to the web address list on my site. I tried to visit it but got...
</p>

{% include image.html image_url="/images/blog/jericdy.com-error-404.png" %}

<p>
	So I thought, maybe Google Sites doesn't allow two URLs pointing to the same site.
	I removed www.jericbryledy.com from the list and check.
	Guess what, www.jericdy.com is still returning an Error 404.
	So I put www.jericbryledy.com back to the list, but guess what, it's now returning an Error 404.
	That's right, bot URLs are now returning Error 404's.
</p>

<p>
	So I thought maybe I need to wait for Google to refresh, so I waited.
	Next day, nope, still Error 404, maybe another 24 hrs.
	Next day again, still got nothing, this is getting a little frustrating, so I tried searching for people with the same issue and got this.
</p>

{% include image.html image_url="/images/blog/google-site-issue-67.png" %}

<p>
	Look at that! The issue started on September 11, of all the days I could have think of switching domain, it has to be on this day.
	Talk about timing.
	If only I have this kind of luck on sweepstakes.
	So a few more days after, I checked the web address list and now got a warning
</p>

{% include image.html image_url="/images/blog/google-site-domain-blocked.png" %}

<p>
	Geez! They could have put the warning there first before disabling that feature.
	Now I'm stuck with www.jericbryledy.com pointing to nowhere.
	Two weeks have passed, and my site's gone from Google's index.
</p>

{% include image.html image_url="/images/blog/jericdy.com-no-index.png" %}

<p>
	Boo-hoo! One quick solution to this problem is to migrate your Google Site to Google Apps.
	After for about a month of frustration and waiting for Google to fix the issue,
		today I finally gave up and just migrate to Google Apps.
	So yeah, my site's finally up again yay!
</p>

{% include image.html image_url="/images/blog/jericdy.com-google-apps.png" %}

<p>
	If you're having the same problem I'de be happy to help you migrate.
	Just leave me a message.
</p>
