---
layout: post
title: Google Drive
date: 2012-04-29 11:23:00
categories: blog
thumbnail: /images/blog/gdrive-grid.png

redirect_from: /blog/2012/04/google-drive.html
---

<p>
	So Google released a new product (in beta),
		It's called Google Drive.
	I've tried it out, and it turns out to be just Google Docs but with 5 times its capacity (5GB).
</p>

<div>
	<b>New Features</b>
</div>
<p>
	In Google Drive, the folders are now treated as directories, unlike in Google Docs which was treated as labels.
	Google Drive also added a grid view option.
</p>

{% include image.html caption="List View (like in Google Docs)" image_url="/images/blog/gdrive-list.png" %}

{% include image.html caption="New Grid View " image_url="/images/blog/gdrive-grid.png" %}

<p>
	If you're on Windows or Mac, you can download the Google Drive Program.
	It will sync your files to your local drive.
</p>

{% include image.html caption="Google Drive on Windows" image_url="/images/blog/gdrive-windows-explorer.png" %}

<p>
	If you're using <a href="http://tools.google.com/dlpage/cloudconnect">Google's Cloud Connect</a>.
	You're gonna see some of your files missing (because you already have a copy somewhere on your local drive).
	You're gonna see something like these...
</p>

{% include image.html image_url="/images/blog/gdrive-tray-menu.png" %}

{% include image.html image_url="/images/blog/gdrive-sync-problem.png" %}

<p>
	lastly (at least on my machine), the Application will crash right after you select shutdown.
	Ceasing the shutdown process until you click "Force Shutdown" or Click the close button while you still can.
</p>

{% include image.html caption="null pointer exception!" image_url="/images/blog/gdrive-npe.png" %}

<p>
	I'm just waiting for Google to fix this problem.
</p>
