---
layout: post
title: DIY tablet case
date: 2013-12-24 19:04:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/x100/colorfly-e708-q1.jpg
    full: /images/blog/colorfly-e708-q1.jpg

redirect_from: /blog/2013/12/diy-tablet-case.html
---

<p>
	So I bought a China tablet (Colorfly E708 Q1) for my mom this holiday.
</p>

{% include image.html image_url="/images/blog/colorfly-e708-q1.jpg" %}

<p>
	But I didn't get the chance to buy her a tablet case.
	My mom wants one, but the malls are so crowded.
	I hate crowded places so I decide to buy her one after the holidays.
	So why not play a little joke in the mean time?
	I decided to make her a case out of illustration boards and folders.
	I love doing these home made crafts during high school.
	I would make my own action figures during my free time (recess and weekends).
	Here are <a href="https://plus.google.com/photos/+JericBryleDy/albums/5399973595124795393">some</a> of those which survived through the years.
</p>

<p>
	Anyway, here's what I've done:
</p>

{% include image.html caption="measurements on illustration board" image_url="/images/blog/tablet-case-measure-illustration.jpg" %}

{% include image.html caption="measurements on folder" image_url="/images/blog/tablet-case-measure-folder.jpg" %}

{% include image.html caption="applied folder to tablet" image_url="/images/blog/tablet-case-apply-folder.jpg" %}

{% include image.html caption="slightly cut and folded the illustration board" image_url="/images/blog/tablet-case-cut-illustration.jpg" %}

{% include image.html caption="hot glue applied" image_url="/images/blog/tablet-case-finished-1.jpg" %}

{% include image.html caption="magic!" image_url="/images/blog/tablet-case-finished-2.jpg" %}

<p>
	This will serve as her case in the mean time.
	Anyway, Merry Christmas!!!
</p>
