---
layout: post
title: It's always the Hinge
date: 2014-05-11 18:14:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/100x/v3-571g-case-pop-1.jpg
    full: /images/blog/v3-571g-case-pop-1.jpg

redirect_from: /blog/2014/05/its-always-hinge.html
---

<p>
	Ahh laptops, it's supposed to be your powerful mobile device you conveniently bring around.
	Laptops are convenient because you can easily fold it up and put it in your bag, then go.
	Need to use it? No problem, grab your laptop and open the lid.
	Well, how convenient can it be when a laptop loses one of its most important factor, say, mobility.
	that's exactly what happened to mine, most laptops have the same weak point, the hinge.
	Almost all of the people I know have the same problem when their laptops come to age,
		at least 1.25 years for people like me who opens and closes the lid a lot
		(some people treat laptops like a desktop, lid opened and left on their table).
	Some have their hinge fall off, casing cracked
		(<a href="/blog/2010/05/unrepair-man.html">see my previous incident on my MSI VR440</a>),
		LCD what won't turn on anymore (because of the wiring inside the hinge,
		I have the same experience with my MSI CR400 but didn't blog about it),
		or in my recent case, <a href="https://plus.google.com/u/0/+JericBryleDy/posts/4LBKjrEq49f">the hinge got stuck and the lid won't open or close anymore</a>
		(laptop is Acer Aspire V3-571G).
</p>

<p>
	Just great, right after the warranty just ended, it breaks.
	Also, how in the world can I bring a 15.6 inches lid-opened laptop to the service center without people starring at me?
	That was in November, weeks later, I finally learned how to close it properly but it will at least take me 10-20 mins to do so.
	The first time I closed the lid, I was so glad that I can finally bring it around again.
	I immediately regretted that decision when I learned that I have no idea how to open it without having the screen case popping out.
	So until now (May), I was treating my laptop as a desktop.
	It's always there sitting on the table like a desktop, I can't even adjust the angle of the screen.
</p>

<p>
	It's all so frustrating that I finally decided that I'll just go to Acer's service center and have it repaired.
	So last 10th of May, I finally did. I asked the Acer representative if it's a common problem, he said no and it's very rare (Google said <a href="https://www.google.com/search?q=laptop+broken+hinge&tbm=isch">yes</a>).
	My initial thought was probably people here in Singapore just don't repair their broken hinge.
	The moment I gave my laptop to him, he tried opening the lid.
	I panicked and tried stopping him from opening the lid since it's very difficult to open the lid without breaking the screen,
	but he already knew how to open it.
	Pssh, what a liar, it seems he have a lot of experience with broken laptop hinges.
	Well it's not like he telling me it's a common problem or not would change my mind from repairing the laptop anyway, so whatever.
</p>


<div>
	Next, he listed the price breakdown:
</div>
<ul>
	<li>labor: S$80</li>
	<li>LCD cover: S$70</li>
	<li>hinge: S$30</li>
	<li>Total with GST: S$192.60</li>
</ul>

<p>
	I was like what the hell?! That's 20% of its original price! Like two years ago!
	It's not like I have any other choice if I want my laptop to stop acting like a desktop.
	So I decided to go for it anyway, but I was so angry at the price.
	It's so expensive that I want to get the most out of it, and I ended up telling the representative that I want the old LCD cover back.
	He agreed, hahaha!
	I don't even know what to do with it!
	I just don't even know what laptop brand I should buy for my next laptop,
		but base on my experience I'm sure that I won't go for MSI and Acer anymore.
</p>

<p>
	My broken Acer Aspire V3-571G pictures below:
</p>

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="v3-571g-hinge.jpg" %}

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="v3-571g-case-pop-1.jpg" %}

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="v3-571g-case-pop-2.jpg" %}

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="v3-571g-lid-closed.jpg" %}

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="v3-571g-specs.jpg" %}

<p class="note">
	May 24, 2014 update:
	S$200 later...
</p>

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="v3-571g-repaired.jpg" %}

<p>
	YAY!
</p>

<p>
	now what do I do with these?
</p>

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="v3-571g-case.jpg" %}

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="v3-571g-case-back.jpg" %}

<p>
	oh, I know...
</p>

{% include image.html caption="perfect! haha!" image_path="/images/blog" image_thumbnail="800x600" image_file="v3-571g-case-mat.jpg" %}
