---
layout: post
title: My Problem with Pokémon Go
date: 2016-08-15 14:58:00
categories: blog
thumbnail:
    thumbnail: /images/blog/thumbnails/100x/pokemon-go-app-icon.png
    full: /images/blog/pokemon-go-app-icon.png

---

<p>
	Before everything else, I would first like to point out that I <i>am</i> a <a href="/blog/2009/05/24/digimon-vs-pokemon.html">huge Digimon fan</a>.
	I've watched all the Digimon series and movies, except for <a href="https://en.wikipedia.org/wiki/Digimon_Fusion">Digimon Xros Wars</a>!
	But what I am about to write is about the game design,
		the game could replace all Pokémon characters with Digimon characters for all I care,
		and I'll still conclude with the same problems.
</p>

<p>
	Last Saturday, August 6, Pokémon Go was released in Asia.
	I wasn't planning on playing the game, but my girlfriend is, so I tagged along.
	Sure I've enjoyed the game,
		but I'm also kind of bitter that Niantic ended up with Pokémon instead of Digimon.
	I mean, how relevant would it be to have your cell phones turned into a Digivice
		(You'll understand if you watched the anime).
	Or how the original Digivice toys have pedometer built-in to encourage kids to walk,
		in order to proceed in their adventure.
	Digimon is ahead of its time, if you ask me.
	Ok! Enough ranting!
</p>

<p>
	I ended up uninstalling the game on the fifth day (August 10).
	My problem?
	There's no <i>character investment</i>.
	Sure it's enjoyable to catch Pokémons.
	After that?
	You discard the weaker duplicates in your inventory.
</p>

<p>
	Here are some screenshots of me reaching level 20 on the fifth day,
		as a proof that I've played thoroughly before quitting.
</p>

<center>Behold, my bitterness</center>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fjericbryledy%2Fposts%2F10155237605503747&width=500" width="500" height="645" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="pokemon-go-world-view.jpg" caption="logged in from girlfriend's phone" %}

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="pokemon-go-player-profile.jpg" caption="Go Team Mystic. Woot!" %}

{% include image.html image_path="/images/blog" image_thumbnail="800x600" image_file="pokemon-go-pokemon-list.jpg" caption="The Eevee trick only work once, apparently" %}

<p>
	You see, whenever you play a game,
		you always invest in your character.
	In the classic Pokémon's case, you invest in your Pokémons.
	Sure, you can capture multiple Pokémon,
		but your team always end up with the Pokémons you've trained from early on.
	Like your starter Pokémon. These are your "favorites",
		the one that you,
		as a player, are emotionally attached to it.
</p>

<p>
	You will never see these in Pokémon Go.
	Sure, you'll get to choose a starter Pokémon at the beginning of the game.
	You can mark your Pokémons with stars as your favorite.
	<b>Spoiler Alert!</b>
	You'll most definitely throw it away as soon as you get a stronger duplicate.
	You see, the toughness of your Pokémon depends on your player's level.
	You will most definitely get a stronger version of your starter Pokémon later on in the game.
</p>

<p>
	You can <i>Power Up</i> your Pokémon by using Stardust and candies,
		but is it worth it?
	The game doesn't make it rewarding to Power Up too.
	Further into the game, you'll realize it's better to power up later on.
	Why would you waste your resources on powering up,
		when you can just find a better one in the wild later?
	Also, the higher your Pokémon's CP are,
		the more stardust you need to power them up.
	You're really better off maximizing your level first,
		<b>THEN</b> start powering the strongest Pokémon you have.
</p>

<p>
	So these are my reasons why I immediately got sick of Pokémon Go.
	As on how to fix the game play?
	I am not sure, but here are some suggestions:
</p>

<ol>
	<li>Pokémons should at least earn a bonus power up after every battle.
			This would help the player grow attached to the Pokémon.</li>
	<li>Catching should involve a little bit of fighting, like in the original games.
			Because throwing balls, it gets <i>booooring</i>.</li>
	<li>Wild Pokémons' CP shouldn't be based on player's level.
			Wouldn't it be better to have a "Drats! I'm not strong enough!" moment?</li>
</ol>

<p>
	Those are some suggestions I can think of right now.
		I'll update the list as soon as I can think of another.
	If you have a suggestion of your own, comment in down below.
</p>
